section.background.grid__item
  .card.background-card
    .background-details
      include ../background/about.pug
      include ../background/work-experience.pug
      include ../background/volunteer-work.pug
      include ../background/projects.pug
      include ../background/publications.pug
      include ../background/awards.pug
      include ../background/education.pug
      include ../background/references.pug
      include ../background/interests.pug
