mixin timed_event_title(title, ongoing, ongoing_title)
  strong= title

mixin location(location)
  if location
    .location.text-muted
      +inline_icon('location', 'Location')
      span #{location}

mixin date(startDate, endDate)
  if startDate || endDate
    .date.text-muted
      +inline_icon('calendar', 'Date')
      if startDate
        |#{startDate} -
      |#{endDate || 'Present'}

section.background.grid__item
  .card.background-card
    .background-details
      case resume.basics.priority
        when 'research'
          include ../background/about.pug
          include ../background/publications.pug
          include ../background/awards.pug
          include ../background/education.pug
          include ../background/references.pug
          include ../background/work-experience.pug
          include ../background/volunteer-work.pug
          include ../background/interests.pug
        default
          include ../background/about.pug
          include ../background/work-experience.pug
          include ../background/volunteer-work.pug
          include ../background/publications.pug
          include ../background/awards.pug
          include ../background/education.pug
          include ../background/references.pug
          include ../background/interests.pug
