.profile
    //- img.profile-pic(
    //-     data-src="holder.js/100x100",
    //-     alt=resume.basics.name,
    //-     src=resume.basics.picture,
    //-     itemprop="image")

    .profile-data
        h1(itemprop="name"): b= resume.basics.name
        h2.text-muted(itemprop="jobTitle")= resume.basics.label