:root {
    --theme-bg: @theme-bg;
    --theme-secondary-bg: @theme-secondary-bg;
    --theme-font-color: @theme-font-color;
    --theme-border-color: @theme-border-color;
    --link-color: @link-color;
    --icon-color: @icon-color;
    --theme-label-bg: @theme-label-bg;

    @media (prefers-color-scheme: dark) {
        --theme-bg: @theme-bg-dark;
        --theme-secondary-bg: @theme-secondary-bg-dark;
        --theme-font-color: @theme-font-color-dark;
        --theme-border-color: @theme-border-color-dark;
        --link-color: @link-color-dark;
        --icon-color: @icon-color-dark;
        --theme-label-bg: @theme-label-bg-dark;
    }
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
    color: var(--theme-font-color);
    background: var(--theme-bg);

    @media (min-width: @screen-tablet) {
        background: linear-gradient(90deg, var(--theme-secondary-bg) 0%, var(--theme-secondary-bg) 50%, var(--theme-bg) 50%, var(--theme-bg) 100%);
    }

    &.print {
        font-size: 14px;
        --theme-bg: @theme-bg;
        --theme-secondary-bg: @theme-bg;
        --theme-font-color: @theme-font-color;
        --theme-border-color: @theme-border-color;
        --link-color: @link-color;
        --icon-color: @icon-color;
        --theme-label-bg: @theme-label-bg;
    }


    @media print {
        font-size: 12px;
        --theme-bg: @theme-bg;
        --theme-secondary-bg: @theme-bg;
        --theme-font-color: @theme-font-color;
        --theme-border-color: @theme-border-color;
        --link-color: @link-color;
        --icon-color: @icon-color;
        --theme-label-bg: @theme-label-bg;
    }
}

svg {
  pointer-events: none;
}

path {
  fill: var(--icon-color) !important;
  stroke: var(--icon-color) !important;
}

.section {
    padding-bottom: 1.5em;

    &:last-of-type {
        padding-bottom: 0;
    }

    &__title {
        padding-bottom: .5em;
        border-bottom: 2px solid var(--theme-border-color);
    }
}

h1 {
    letter-spacing: 0.25em;
}

h2 {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0 0 .75em;
    padding: 0 0 .75em 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}


ul {
    @media (max-width: @screen-phone) {
        padding-left: 25px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid var(--theme-border-color);

    &:visited {
        color: inherit;
    }
}

.date, .location {
    padding-top: 2px;
    display: inline-block;
    margin-right: 10px;
}
