* {
    box-sizing: border-box;
    page-break-after: auto;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
    background: @theme-bg;
    color: @theme-font-color;
    font-size: 16px;
}

svg {
  pointer-events: none;
}

.section {
    &__title {
        padding-bottom: .5em;
        border-bottom: 2px solid black;
    }
}

h1 {
    letter-spacing: 0.25em;
}

h2 {
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: .75em 0;
    padding: .75em 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}


ul {
    @media (max-width: @screen-phone) {
        padding-left: 25px;
    }
}

.date, .location {
    padding-top: 2px;
    display: inline-block;
    margin-right: 10px;
}
