.container {
    @media print {
        margin-left: -3em;
        margin-right: -3em;
    }
}

.grid {
    display: flex;

    &__item {
        padding-top: @header-size;
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: @header-size;
    display: flex;
    flex-direction: column;
    align-items: center;
}