@media print {
    * {
      page-break-inside: avoid;
    }

    a[href]:after {
      content: none !important;
    }

    a, a * {
      color: @link-color !important;
    }

    .pagebreak {
        page-break-before: always;
    }
}
