.printing {
  display: none;
}

@media print {
    a[href]:after {
        content: none !important;
    }

    .printing {
      display: inherit;
    }

    .floating-nav, .floating-nav-trigger {
        display: none;
    }

    .social-link .icon {
      font-size: 1.33333333em;
    }

    .text-muted, .text-muted * {
      color: @gray-light !important;
    }

    .pagebreak {
        page-break-before: always;
    }
}
