@media print {
    a[href]:after {
      content: none !important;
    }

    a, a * {
      color: var(--theme-font-color) !important;
      border-bottom: 0;
    }
}

.pagebreak {
    page-break-after: always;
}