.flex-item-list {
    margin-left: -0.75em;
    margin-right: -0.75em;
}

.flex-item {
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.media-print(@rules) {
    @media print {
        @rules();
    }

    body.print & {
        @rules();
    }
}

.media-screen(@rules) {
    @media screen {
        @rules();
    }

    body:not(.print) & {
        @rules();
    }
}

.print-only {
    .media-screen({display: none})
}

.screen-only {
    .media-print({display: none})
}