@theme-bg: #fefefe;
@theme-secondary-bg: #eee;
@theme-font-color: #333;
@theme-red: #e74c3c;
@theme-blue: #428bca;
@theme-yellow: #f1c40f;
@theme-green: #5cb85c;

// Colors
@link-color: #4cb7da;
@gray-light: #666;

// Card variables
@card-bg: white;
@card-border-color: #e6e6e6;
@card-border-radius: 3px;

// Icon colors
@icon-color: #707070;

// Skill related colors
@skill-beginner-color: @theme-red;
@skill-intermediate-color: @theme-yellow;
@skill-advanced-color: @theme-blue;
@skill-master-color: @theme-green;

// Label styles
@theme-label-border-color: darken(@theme-label-bg, 20%);
@theme-label-bg: lighten(@theme-blue, 15%);

// Breakpoints
@screen-desktop: 1024px;
@screen-tablet: 840px;
@screen-phone: 480px;

//Layout
@header-size: 20rem;