.background {
    background: @theme-bg;
}

.event {
    margin-bottom: 1.75em;

    &__header {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        padding-bottom: .75em;
    }

    &__title {
        flex: 1 1 100%;
        font-size: 1.25rem;
        font-weight: bold;
    }

    &__period {}

    &__location {
        text-align: right;
    }

    &__description {
        padding-bottom: .75em;
    }

    &__highlights {
        padding-left: 1em;
    }

    &__highlight {
        list-style-type: square;
    }
}