.info {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--theme-secondary-bg);
    padding-bottom: 0.75em;

    @media (min-width: @screen-tablet) {
        margin-left: 0;
        margin-right: 0;
        display: block;
    }

    .media-print({
        background-color: transparent
    });

    .section {
        flex: 1 1 200px;
        &:extend(.flex-item);

        @media (min-width: @screen-tablet) {
            margin-left: 0;
            margin-right: 0;
        }

        &.skills {
            flex-basis: 100%;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        padding: .5em 0;

        .icon {
            flex: 0;
            min-width: 16px;
            margin-right: .75em;
        }
    }

    &__content {
        flex: 1;
        position: relative;
    }
}

.skills {
    > .section__content {
        display: flex;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        &:extend(.flex-item-list);
    }
}

.skill {
    margin-bottom: .75em;
    &:extend(.flex-item);

    &__level {
        font-weight: bold;
    }

    &__level,
    &__name {
        margin-bottom: .25em;
    }

    &__badge {
        width: .75em;
        height: .75em;
        margin-right: .5em;
        border: 2px solid black;
        border-radius: 99999px;
        display: inline-block;

        .media-print({
            display: none;
        });

        &--filled {
            background: black;

            .media-print({
                display: inline-block;
            });
        }
    }
}

.hobbies {
    .section__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .info__row {
        flex-basis: 200px;
    }
}