.info {
    background-color: @theme-secondary-bg;
    padding-left: 3em;
    padding-right: 3em;
}

.info-detail {
    display: flex;
    align-items: center;
    padding: .5em 0;

    .icon {
        flex: 0 1 auto;
        margin-right: .75em;
    }

    &-content {
        flex: 1;
    }
}