.profile {
    border: 3px solid var(--theme-border-color);
    background: var(--theme-bg);
    width: 90%;
    height: @header-size * 0.8;
    margin: @header-size * 0.1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .media-print({
        margin: 0;
        width: 100%;
        border: 0;
        background: transparent;
    });

    @media (min-width: @screen-tablet) {
        width: 80%;
    }

    h1, h2 {
        margin: 0;
    }

    h2 {
        .media-print({
            padding-top: 0;
            font-size: 1.1em;
        })
    }

    &__pic {

    }

    &__data {
        text-align: center;
        padding: 0 0.75em;
    }
}