unless _.isEmpty(resume.basics.summary)
  .detail#about
    +large_icon('board', 'About')
    div
      h4.title.text-uppercase About

      .card.card-nested
        .content.mop-wrapper(itemprop="description")!= resume.basics.summary
