unless _.isEmpty(resume.awards)
  .detail#awards
    +large_icon('trophy', 'Awards')
    .info
      h4.title.text-uppercase Awards

      .content
        ul.list-unstyled.clear-margin
          each award in resume.awards
            li.card.card-nested
              .content
                p.clear-margin(itemprop="award")
                  strong= award.title + " "
                  |#{award.awarder}

                p.text-muted
                  small
                    |Awarded on: #{award.date}

                if award.summary
                  .mop-wrapper!= award.summary
