unless _.isEmpty(resume.education)
  +section('Education').education
    each education_info in resume.education
      .event(class=metaClasses(education_info))
        .event__header
          .event__title
            +join([education_info.area, education_info.studyType])

          .event__subtitle
            .event__period
              +join([education_info.startDate, education_info.endDate || 'Present'], ' - ')

            .event__location
              |#{education_info.location}

        .event__content
          if education_info.gpa
            .event__description
              |#{education_info.gpa}

          unless _.isEmpty(education_info.courses)
            ul.event__highlights
              each course in education_info.courses
                li.event__highlight!=markdown(course)
