unless _.isEmpty(resume.education)
  .detail#education
    +large_icon('graduation-cap', 'Education')
    .info
      h4.title.text-uppercase Education

      .content
        ul.list-unstyled.clear-margin
          each education_info in resume.education
            li.card.card-nested
              .content
                p.clear-margin.relative
                  +timed_event_title(
                     (_.isEmpty(education_info.area) ? '' : (education_info.area + ', ')) +
                     (_.isEmpty(education_info.studyType) ? '' : (education_info.studyType + ', ')),
                    !education_info.endDate, 'Currently Pursuing')
                  |#{education_info.institution}

                +date(education_info.startDate, education_info.endDate)
                +location(education_info.location)

                p= education_info.gpa

                unless _.isEmpty(education_info.courses)
                  .space-top.labels
                    each course in education_info.courses
                      span.label.label-keyword= course
