unless _.isEmpty(resume.education)
  +section('Education').education
    each education_info in resume.education
      .event
        .event__header
          .event__title
            +join([education_info.area, education_info.studyType])

          .event__location
            |#{education_info.location}

          .event__period
            +join([education_info.startDate, education_info.endDate || 'Present'], ' - ')

        .event__content
          if education_info.gpa
            .event__description
              |#{education_info.gpa}

          unless _.isEmpty(education_info.courses)
            ul.event__highlights
              each course in education_info.courses
                li.event__highlight!= course
