unless _.isEmpty(resume.interests)
  +section('Interests').interests
    ul.list-unstyled.clear-margin
      each interest in resume.interests
        li.card.card-nested
          p
            strong= interest.name

          unless _.isEmpty(interest.keywords)
            .space-top.labels
              each keyword in interest.keywords
                span.label.label-keyword= keyword
