unless _.isEmpty(resume.references)
  +section('References').references
    ul.list-unstyled.clear-margin
      each reference_info in resume.references
        li.card.card-nested
          if reference_info.website
            a(href=reference_info.website, target="_blank")= reference_info.name
          else
            |#{reference_info.name}

          blockquote.quote
            .mop-wrapper!= reference_info.reference
