unless _.isEmpty(resume.references)
  +section('References').references
    each reference in resume.references
      .event
        .event__header
          .event__title
            if reference.website
              a(href=reference.website, target="_blank")= reference.name
            else
              |#{reference.name}

        .event__content
          if reference.reference
            .event__description.screen-only!=reference.reference

          unless _.isEmpty(reference.highlights)
            ul.event__highlights
              each highlight in reference.highlights
                li.event__highlight
                  !=highlight
