[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
.icon-curse {
  width: 0.67675781em;
}
.icon-book {
  width: 0.92871094em;
}
.icon-link {
  width: 0.92871094em;
}
.icon-bars {
  width: 0.85742188em;
}
.icon-circle {
  width: 0.85742188em;
}
.icon-graduation-cap {
  width: 1.28613281em;
}
.icon-language {
  width: 0.85742188em;
}
.icon-child {
  width: 0.71386719em;
}
* {
  box-sizing: border-box;
  page-break-after: auto;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato';
  background: #fefefe;
  color: #333;
  font-size: 16px;
}
svg {
  pointer-events: none;
}
.section-title {
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
}
h1 {
  letter-spacing: 0.25em;
}
h2 {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 0.75em 0;
  padding: 0.75em 0;
}
.card-nested {
  min-height: 0;
  border-width: 1px 0 0 0;
}
@media (max-width: 480px) {
  .card-nested {
    padding: 5px 0;
  }
}
.card-wrapper {
  padding: 5px;
}
@media (max-width: 1024px) {
  .card-wrapper {
    float: none !important;
  }
}
.info .content.has-sidebar {
  box-sizing: border-box;
  padding-right: 20px;
  border-right: 1px solid #cdcdcd;
  flex: 80%;
}
.info .content.has-sidebar small {
  display: none;
}
@media (max-width: 1024px) {
  .info .content.has-sidebar {
    border-right: 0;
  }
  .info .content.has-sidebar small {
    display: block;
  }
}
@media (max-width: 480px) {
  .info .content.has-sidebar {
    padding: 0 2px;
  }
}
.info .sidebar {
  flex: 20%;
  box-sizing: border-box;
  padding: 10px;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .info .sidebar {
    display: none;
  }
}
@media (max-width: 480px) {
  ul {
    padding-left: 25px;
  }
}
.date,
.location {
  padding-top: 2px;
  display: inline-block;
  margin-right: 10px;
}
.inline-icon {
  display: inline-block !important;
  padding: 0 5px 0 0 !important;
  margin-top: 2px !important;
  min-width: auto !important;
}
.current-event {
  font-size: 8px;
  color: #5ACE24 !important;
  position: absolute;
  right: 100%;
  top: 6px;
  left: -12px;
}
.mop-wrapper > p:last-child {
  margin: 0;
}
@media print {
  .container {
    margin-left: -3em;
    margin-right: -3em;
  }
}
.container-grid {
  display: flex;
}
.container-grid-item {
  padding-top: 20rem;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  margin-top: px;
}
.info {
  background-color: #eee;
  padding-left: 3em;
  padding-right: 3em;
}
.info-detail {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
.info-detail .icon {
  flex: 0 1 auto;
  margin-right: 0.75em;
}
.info-detail-content {
  flex: 1;
}
.profile {
  border: 3px solid black;
  background: #fefefe;
  width: 80%;
  height: 16rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile h1,
.profile h2 {
  margin: 0;
}
.profile-data {
  text-align: center;
}
.background {
  padding-left: 3em;
  padding-right: 3em;
}
.card-skills {
  position: relative;
}
.skill-level {
  border-radius: 3px;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 10px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
}
.skill-level .skill-progress {
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  width: 100%;
  -webkit-transition: height 1s ease;
}
.skill-level .skill-progress.beginner {
  height: 50%;
  background: #e74c3c !important;
}
.skill-level .skill-progress.intermediate {
  height: 70%;
  background: #f1c40f !important;
}
.skill-level .skill-progress.advanced {
  height: 80%;
  background: #428bca !important;
}
.skill-level .skill-progress.master {
  height: 95%;
  background: #5cb85c !important;
}
.skill-graded-info {
  margin-left: 15px;
}
@media (max-width: 480px) {
  .skill-graded-info {
    margin-left: 20px;
  }
}
@media (max-width: 840px) {
  .quote {
    font-size: inherit;
  }
}
.icon-curse {
  color: #f05523 !important;
}
