[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
.icon-curse {
  width: 0.67675781em;
}
.icon-book {
  width: 0.92871094em;
}
.icon-link {
  width: 0.92871094em;
}
.icon-bars {
  width: 0.85742188em;
}
.icon-circle {
  width: 0.85742188em;
}
.icon-graduation-cap {
  width: 1.28613281em;
}
.icon-language {
  width: 0.85742188em;
}
.icon-child {
  width: 0.71386719em;
}
.flex-item-list,
.info,
.skills > .section__content {
  margin-left: -0.75em;
  margin-right: -0.75em;
}
.flex-item,
.info .section,
.skill {
  padding-left: 0.75em;
  padding-right: 0.75em;
}
@media screen {
  .print-only {
    display: none;
  }
}
body:not(.print) .print-only {
  display: none;
}
@media print {
  .screen-only {
    display: none;
  }
}
body.print .screen-only {
  display: none;
}
* {
  box-sizing: border-box;
  page-break-after: auto;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato';
  color: #333;
  font-size: 16px;
}
body.print {
  background: #fefefe;
}
@media (min-width: 840px) {
  body {
    background: linear-gradient(90deg, #eee 0%, #eee 50%, #fefefe 50%, #fefefe 100%);
  }
}
@media print {
  body {
    background: #fefefe;
  }
}
svg {
  pointer-events: none;
}
path {
  fill: black !important;
  stroke: black !important;
}
.section__title {
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
}
h1 {
  letter-spacing: 0.25em;
}
h2 {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 0.75em 0;
  padding: 0.75em 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
@media (max-width: 480px) {
  ul {
    padding-left: 25px;
  }
}
a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid black;
}
a:visited {
  color: inherit;
}
.date,
.location {
  padding-top: 2px;
  display: inline-block;
  margin-right: 10px;
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
@media print {
  .container {
    max-width: 100%;
  }
}
body.print .container {
  max-width: 100%;
}
.grid {
  display: flex;
  flex-direction: column;
}
@media (min-width: 840px) {
  .grid {
    flex-direction: row;
  }
}
.grid__item {
  padding: 1.5em;
}
@media (min-width: 840px) {
  .grid__item {
    padding: 20rem 3em 3em;
  }
}
.header {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 840px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media print {
  .header {
    height: 10rem;
  }
}
body.print .header {
  height: 10rem;
}
.icon {
  margin-top: px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
}
@media (min-width: 840px) {
  .info {
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
}
@media print {
  .info {
    background-color: transparent;
  }
}
body.print .info {
  background-color: transparent;
}
.info .section {
  flex: 1 1 200px;
}
@media (min-width: 840px) {
  .info .section {
    margin-left: 0;
    margin-right: 0;
  }
}
.info .section.skills {
  flex-basis: 100%;
}
.info__row {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
.info__row .icon {
  flex: 0;
  min-width: 16px;
  margin-right: 0.75em;
}
.info__content {
  flex: 1;
}
.skills > .section__content {
  display: flex;
  flex-wrap: wrap;
}
.skill {
  margin-bottom: 0.75em;
}
.skill__name {
  margin-bottom: 0.25em;
}
.skill__badge {
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.5em;
  border: 2px solid black;
  border-radius: 99999px;
  display: inline-block;
}
@media print {
  .skill__badge {
    display: none;
  }
}
body.print .skill__badge {
  display: none;
}
.skill__badge--filled {
  background: black;
}
@media print {
  .skill__badge--filled {
    display: inline-block;
  }
}
body.print .skill__badge--filled {
  display: inline-block;
}
.profile {
  border: 3px solid black;
  background: #fefefe;
  width: 80%;
  height: 16rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media print {
  .profile {
    margin: 0;
    width: 100%;
    border: 0;
    background: transparent;
  }
}
body.print .profile {
  margin: 0;
  width: 100%;
  border: 0;
  background: transparent;
}
.profile h1,
.profile h2 {
  margin: 0;
}
@media print {
  .profile h2 {
    padding-top: 0;
    font-size: 1.25rem;
  }
}
body.print .profile h2 {
  padding-top: 0;
  font-size: 1.25rem;
}
.profile__data {
  text-align: center;
}
.background {
  background: #fefefe;
}
.event {
  margin-bottom: 1.75em;
}
.event__header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding-bottom: 0.75em;
}
.event__title {
  flex: 1 1 100%;
  font-size: 1.25rem;
  font-weight: bold;
}
.event__location {
  text-align: right;
}
.event__description {
  padding-bottom: 0.75em;
}
.event__highlights {
  padding-left: 1em;
}
.event__highlight {
  list-style-type: square;
}
@media (max-width: 840px) {
  .quote {
    font-size: inherit;
  }
}
.icon-curse {
  color: #f05523 !important;
}
