[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
.icon-curse {
  width: 0.67675781em;
}
.icon-book {
  width: 0.92871094em;
}
.icon-link {
  width: 0.92871094em;
}
.icon-bars {
  width: 0.85742188em;
}
.icon-circle {
  width: 0.85742188em;
}
.icon-graduation-cap {
  width: 1.28613281em;
}
.icon-language {
  width: 0.85742188em;
}
.icon-child {
  width: 0.71386719em;
}
* {
  box-sizing: border-box;
  page-break-after: auto;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato';
  background: linear-gradient(90deg, #eee 0%, #eee 50%, #fefefe 50%, #fefefe 100%);
  color: #333;
  font-size: 16px;
}
svg {
  pointer-events: none;
}
.section__title {
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
}
h1 {
  letter-spacing: 0.25em;
}
h2 {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin: 0.75em 0;
  padding: 0.75em 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
@media (max-width: 480px) {
  ul {
    padding-left: 25px;
  }
}
a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid black;
}
a:visited {
  color: inherit;
}
.date,
.location {
  padding-top: 2px;
  display: inline-block;
  margin-right: 10px;
}
.container {
  position: relative;
  margin: 0 auto;
}
@media print {
  .container {
    margin-left: -3em;
    margin-right: -3em;
  }
}
@media screen {
  .container {
    max-width: 1200px;
  }
}
.grid {
  display: flex;
}
.grid__item {
  padding-top: 20rem;
  padding-bottom: 3em;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  margin-top: px;
}
.info {
  background-color: #eee;
  padding-left: 3em;
  padding-right: 3em;
}
.info__row {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
.info__row .icon {
  flex: 0;
  min-width: 16px;
  margin-right: 0.75em;
}
.info__content {
  flex: 1;
}
.skill {
  margin-bottom: 0.75em;
}
.skill__name {
  margin-bottom: 0.25em;
}
.skill__badge {
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.5em;
  border: 2px solid black;
  border-radius: 99999px;
  display: inline-block;
}
.skill__badge--filled {
  background: black;
}
.profile {
  border: 3px solid black;
  background: #fefefe;
  width: 80%;
  height: 16rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile h1,
.profile h2 {
  margin: 0;
}
.profile__data {
  text-align: center;
}
.background {
  padding-left: 3em;
  padding-right: 3em;
  background: #fefefe;
}
.event {
  margin-bottom: 1.75em;
}
.event__header {
  display: flex;
  flex-flow: wrap;
  padding-bottom: 0.75em;
}
.event__title {
  flex: 1;
  font-size: 1.25rem;
  font-weight: bold;
}
.event__period {
  flex-basis: 100%;
}
.event__location {
  text-align: right;
}
.event__highlights {
  padding-top: 0.75em;
  padding-left: 1em;
}
.event__highlight {
  list-style-type: square;
}
@media (max-width: 840px) {
  .quote {
    font-size: inherit;
  }
}
.icon-curse {
  color: #f05523 !important;
}
