mixin make_nav_link(nav_item)
  li
    a(href="#" + nav_item.target)
      svg.mr-10(class="icon-" + nav_item.icon)
        use(xlink:href="#icon-" + nav_item.icon)
      | #{nav_item.label}

a(href="#").js-floating-nav-trigger.floating-nav-trigger
  svg.icon-bars
    use(xlink:href="#icon-bars")
  span.close-icon &times;

nav.floating-nav.js-floating-nav
  ul.list-unstyled
    each nav_item in floating_nav_items
      +make_nav_link(nav_item)
