include functions
include mixins

|<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= resume.basics.name
    include stylesheets.pug

  body(itemscope, itemtype="http://schema.org/Person", class=static && 'static' || '')
    include /assets/icomoon/symbol-defs.svg

    .container
      .header
        include blocks/profile.pug

      .grid
        include blocks/info.pug
        include blocks/background.pug

    include scripts.pug
